<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionCines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GestionCines.Properties.Settings>
            <setting name="endpoint" serializeAs="String">
                <value>https://dint2021.azurewebsites.net/api</value>
            </setting>
            <setting name="formaDePago" serializeAs="String">
                <value>Efectivo</value>
            </setting>
            <setting name="empresa" serializeAs="String">
                <value>Cines del Sureste S.A.</value>
            </setting>
        </GestionCines.Properties.Settings>
    </applicationSettings>
</configuration>